/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	flex: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	color: #000;
	text-decoration: none;
}

nav a:hover,
nav a.active {
	font-weight: 600;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 50px 0;
}

.filter-button {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.filter-button:hover {
	background-color: #1D6154;
	color: white;
}

.filter-button.active {
	background-color: #1D6154;
	color: white;
}

#login {
	width: 50%;
	margin: auto;
	text-align: center;
}

#login > * {
	text-align: center;
}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forgot-password {
	color: #3D3D3D;
	text-decoration: underline;
	margin-top: 20px;
	display: inline-block;
}

.error-message {
	color: #D65353;
	text-align: center;
	margin-top: 20px;
	font-weight: 500;
}

.edit-banner {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.edit-banner i {
	font-size: 16px;
}

.edit-banner p {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
}

.portfolio-title {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 30px;
	margin-bottom: 1em;
}

.portfolio-title h2 {
	margin: 0;
}

.edit-button {
	background: none;
	border: none;
	color: #000000;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
}

.edit-button i {
	font-size: 16px;
}

.edit-button:hover {
	color: #1D6154;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-wrapper {
	position: relative;
	max-width: 630px;
	width: 90%;
}

.modal-content {
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	position: relative;
	max-height: 90vh;
	overflow-y: auto;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	color: #000;
}

.modal-back {
	position: absolute;
	top: 20px;
	left: 20px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: #000;
}

.modal-view h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: #000;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 10px;
}


.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin-bottom: 30px;
}

.modal-gallery-item {
	position: relative;
	width: 100%;
}

.modal-gallery-item img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.modal-gallery-item button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000;
	color: white;
	border: none;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 12px;
	border-radius: 2px;
}


.modal-button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 240px;
	text-align: center;
	border-radius: 60px;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: block;
}

.modal-view hr {
	border: none;
	border-top: 1px solid #B3B3B3;
	margin: 30px 0;
}


.modal-form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.form-preview {
	background-color: #E8F1F6;
	padding: 20px;
	text-align: center;
	border-radius: 3px;
	margin-bottom: 20px;
	position: relative;
}

.form-preview i {
	font-size: 60px;
	color: #B9C5CC;
	margin-bottom: 10px;
}

.preview-button {
	background-color: #CBD6DC;
	color: #306685;
	padding: 10px 30px;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 5px;
}

.form-preview p {
	font-size: 10px;
	color: #444;
	margin: 5px 0 0 0;
}

#image-preview {
	max-width: 100%;
	max-height: 200px;
	margin-top: 10px;
}

.modal-form label {
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.modal-form input[type="text"],
.modal-form select {
	height: 50px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 20px;
	padding: 0 15px;
	font-family: 'Work Sans';
}

.modal-form select {
	cursor: pointer;
}
.modal-button:disabled {
	background-color: #A7A7A7;
	cursor: not-allowed;
}